* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.p {
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  margin: 5% auto;
}

.btn {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1%;
  background: linear-gradient(45deg, #0022ff 25%, #51ff00 75%);
}

.btn a {
  text-decoration: none;
  color: bisque;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button button {
  width: 8%;
  background-color: #32a803;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.button button:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #0022ff 25%, #51ff00 75%);
}

.button button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.list {
  list-style: none;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0022ff;
}

input {
  cursor: pointer;
}

.list-hw4 {
  width: 50%;
  margin: 0 auto;
  list-style: circle;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.list-hw4 li {
  padding-bottom: 1%;
}

.image {
  width: 100%;
  margin-top: 5%;
}

.conteiner-tabs {
  width: 100%;
  height: 654px;
  margin: auto;
  padding-top: 33px;
  background: url(./hw-js-9-1/Image/BG.png) center no-repeat;
  font-family: 'Lato', sans-serif;
}

.tabs {
  width: 600px;
  height: 115px;
  margin: 0 auto;
  background-color: #2b3040;
}

.tabs-nav {
  margin-left: -40px;
  padding-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.tabs-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding-bottom: 25px;
  color: #b7bacd;
  fill: #b7bacd;
}

.tabs-nav .tabs-nav__item.active {
  border-bottom: 1px solid #fff;
  color: white;
  fill: white;
}

.text-tab {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-top: 15%;
}

.tabs-items {
  width: 600px;
  height: 426px;
  margin: auto;
  background-color: #212534;
}

.tabs-item {
  padding-top: 55px;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img {
  width: 100%;
  height: 100%;
  padding-right: 50px;
}

.img__poster {
  margin-bottom: 26px;
}

.img__stars {
  padding-left: 8%;
}

.block-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-content__title {
  padding: 0;
  margin: 0;
  font-size: 32px;
  color: white;
}

.block-content__subtitle {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: white;
}

.img-rating {
  width: 69px;
  height: 69px;
}
/*# sourceMappingURL=style.css.map */