*{
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
}

.p{
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  margin: 5% auto;
}

.btn{
  width: 150px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  background: linear-gradient(45deg,  #0022ff 25%, #51ff00 75%);
  & a{
    text-decoration: none;
    color: bisque;
  }
}

.button{
  display: flex;
  justify-content: center;
  & button{
    width: 8%;
    background-color: rgb(50, 168, 3);
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  & button:hover {
    transform: translateY(-1px);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg,  #0022ff 25%, #51ff00 75%);
  }
  
  & button:active {
    transform: translateY(3px);
    box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

.list{
  list-style: none;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0022ff;
}

input{
  cursor: pointer;
}

.list-hw4{
  width: 50%;
  margin: 0 auto;
  list-style: circle;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:left;
  & li{
    padding-bottom: 1%;
  }
}

.image{
  width: 100%;
  margin-top: 5%;
}

//hw-js-9-1
.conteiner-tabs { 
  width: 100%;
  height: 654px;
  margin: auto;
  padding-top: 33px;
  background: url(./hw-js-9-1/Image/BG.png) center no-repeat;
  font-family: 'Lato', sans-serif;
}

.tabs { 
  width: 600px;
  height: 115px;
  margin: 0 auto;
  background-color: #2b3040;
}

.tabs-nav { 
  margin-left: -40px;
  padding-top: 33px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.tabs-nav__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding-bottom: 25px;
  color:  #b7bacd;
  fill: #b7bacd;
}

.tabs-nav .tabs-nav__item.active{
  border-bottom: 1px solid #fff;
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
}  

.text-tab { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding-top: 15%;
}

.tabs-items { 
  width: 600px;
  height: 426px;
  margin: auto;
  background-color: #212534;
}

.tabs-item { 
  padding-top: 55px;
  padding-left: 50px;
  display: flex;
  justify-content: space-around;
}

.img { 
  width: 100%;
  height: 100%;
  padding-right: 50px;
}

.img__poster { 
  margin-bottom: 26px;
}

.img__stars { 
  padding-left: 8%;
}

.block-contents { 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block-content__title { 
  padding: 0;
  margin: 0;
  font-size: 32px;
  color: rgb(255, 255, 255);
}

.block-content__subtitle { 
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.img-rating { 
  width: 69px;
  height: 69px;
}

.conteiner-text { }
.conteiner-text__text { }
.conteiner-buy { }
.conteiner-buy__subtitle { }
.conteiner-buy__price { }
.conteiner-buy__btn { }
.conteiner-buy__btn--btn { }
.tabs-item-second__img { }
.tabs-item-second__text { }
.conteiner-price { }
.tabs-item-three__subtitle { }
.tabs-item-three__price { }
.tabs-item-three__btn { }