* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
  text-align: center;
  color: black;
  margin-bottom: 1%;
  margin-top: 1%;
}

.hr {
  width: 20%;
  margin: auto;
  border-bottom: 1px solid #ffa601;
  margin-bottom: 1%;
}

.text {
  width: 80%;
  margin: auto;
  font-size: 18px;
  color: black;
  border: 1px solid green;
  margin-bottom: 1%;
  padding: 1%;
}

.form-search {
  height: 100px;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.637)), color-stop(70.71%, rgba(255, 124, 1, 0.719)));
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.637), rgba(255, 124, 1, 0.719) 70.71%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  margin-bottom: 1%;
}

.btn {
  font-size: 24px;
  margin: 10px;
  padding: 10px 15px;
  background-color: #48ff00;
  color: white;
  -webkit-box-shadow: 0 0 10px #0011ff;
          box-shadow: 0 0 10px #0011ff;
  border-radius: 50%;
}

.input-field {
  font-size: 18px;
  margin: 10px;
  -webkit-box-shadow: 0 0 10px #0004ff;
          box-shadow: 0 0 10px #0004ff;
  color: #0026ff;
}

.result {
  color: #1100ff;
  height: 100px;
}

.error {
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-list {
  margin-left: 60px;
}

.results {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results__header {
  font-size: 28px;
  font-weight: bold;
}

.results__year {
  font-size: 20px;
  color: #00a2ff;
}

.results__poster {
  max-height: 30%;
}

.result-pages {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  font-size: 28px;
  font-style: bold;
  color: #000000;
}

.result-pages__page {
  padding: 10px;
  margin: 10px;
}

.result-pages__page--current {
  color: #ff0000;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.result-pages__page:hover {
  cursor: pointer;
  color: #0300c4;
}

.btn-details {
  font-size: 14px;
  color: #00ff22;
  background-color: #2d31ff;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.details__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.details__subtitle {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.details__text {
  font-size: 18px;
  color: #04151f;
  width: 80%;
  text-align: left;
  margin-bottom: 1%;
}
/*# sourceMappingURL=style.css.map */