@charset "UTF-8";
body {
  width: 100%;
  height: 100%;
}

.p {
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  margin: 5% auto;
}

.btn {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1%;
  background: linear-gradient(45deg, #0022ff 25%, #51ff00 75%);
}

.btn a {
  text-decoration: none;
  color: bisque;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button button {
  width: 8%;
  background-color: #32a803;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.button button:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #0022ff 25%, #51ff00 75%);
}

.button button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.list {
  list-style: none;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0022ff;
  text-align: center;
}

input {
  cursor: pointer;
}

.list-hw4 {
  width: 50%;
  margin: 0 auto;
  list-style: circle;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.list-hw4 li {
  padding-bottom: 1%;
}

#myBtn {
  background-color: #5eb027c4;
  color: white;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 180px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #ff9216e0;
  margin: auto;
  padding: 0;
  background-color: #ff9216e0;
  width: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #15ff00;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ff9216e0;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.border {
  padding-top: 3%;
}

.signal {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 70px;
  margin: 2px;
  background-color: #999;
  border: 2px solid #000;
}

.signal::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  visibility: hidden;
}

.red::after,
.yellow::after,
.green::after {
  visibility: visible;
  -webkit-animation: blink 0.75s steps(4, start) 2s infinite;
  animation: blink 0.75s steps(4, start) 2s infinite;
}

.red::after {
  background-color: #f00;
}

.yellow::after {
  background-color: #ff0;
}

.green::after {
  background-color: #060;
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.list-hw-js-8 {
  list-style: none;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0022ff;
  text-align: left;
}

.view,
.area {
  height: 150px;
  width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 14px;
}

.view {
  padding: 2px;
  border: 1px solid black;
}

.area {
  display: none;
  border: 3px groove blue;
  padding: 0px;
}

.area:focus {
  outline: none;
}

.content-sort table {
  border-collapse: collapse;
}

.content-sort th {
  color: #ffebcd;
  background: #008b8b;
  cursor: pointer;
}

.content-sort td,
.content-sort th {
  width: 150px;
  height: 40px;
  text-align: center;
  border: 2px solid #846868;
}

.content-sort tbody tr:nth-child(even) {
  background: #e3e3e3;
}

.content-sort th.sorted[data-order="1"],
.content-sort th.sorted[data-order="-1"] {
  position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
  right: 8px;
  position: absolute;
}

th.sorted[data-order="-1"]::after {
  content: "▼";
}

th.sorted[data-order="1"]::after {
  content: "▲";
}
/*# sourceMappingURL=style.css.map */